@import '../assets/blue.less';

.be-field {
  margin: 20rpx 0;
  .font;
}
.input-outline {
  box-sizing: border-box;
  border-radius: 8rpx;
  height: 80rpx;
  position: relative;
  border: 1px solid @color-field-gray-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24rpx;
  font-size: 28rpx;
  background: #fff;
  transition-property: border;
  transition-duration: .3s;
  transform-origin: top left;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1);
}

.input-active {
  border-color: @color-field-active;
}
.input-error {
  border-color: @danger;
}

input {
  height: 80px;
}

.label {
  position: absolute;
  top: calc(40rpx - 14rpx);
  line-height: 1;
  font-size: 28rpx;
  color: @color-field;
  transition-property: transform padding color;
  transition-duration: .3s;
  transform-origin: top left;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1);
}

.float {
  transform: translateY(-100% - 28 / 0.75px) scale(0.75);
  background: #fff;
  padding: 0 5rpx;
}

.label-active {
  color: @color-field-active;
}
.lable-error {
  color: @danger;
}

.error {
  color: @danger;
  font-size: 18rpx;
  padding: 4rpx 24rpx 0 24rpx;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1);
  height: 22rpx;
  opacity: 1;
}

.error-hidden {
  height: 0;
  opacity: 0;
}